@import url("../fonts/fonts.css");

.page {
  background-color: #006c5e;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.borderline {
  display: block;
  width: 100%;
  border-bottom: solid 3px black;
  margin-top: 10px;
}

.title {
  font-size: 80px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

/* adding section (modal and button) */

.adding_content {
  display: flex;
  justify-content: center;
  align-self: center;
}

.add_button {
  font-family: "YesevaOne", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  width: 180px;
  height: 75px;
  padding: 10px;
  background-color: black;
  color: white;
  border: double 5px white;
  cursor: pointer;
  margin: 50px;
  transform: scale(1);
}

.add_button:hover {
  background-color: white;
  color: black;
  border: double 5px black;
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.close_button {
  background: transparent;
  border: none;
  position: absolute;
  top: -40px;
  right: -30px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  border: solid 2px white;
  background-color: black;
  padding: 20px 30px;
  width: 400px;
  height: auto;
}

.modal.active .modal-form {
  opacity: 1;
}

.submit_button {
  font-family: "YesevaOne", sans-serif;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 30px;
  padding: 10px;
  width: fit-content;
  background: transparent;
  border: double 5px white;
  color: white;
  cursor: pointer;
}

.submit_button:hover {
  background-color: white;
  color: black;
  border: double 5px black;
  transition: all 0.5s ease;
  transform: scale(1.1);
}

/* inputs */

.input {
  font-family: "YesevaOne", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: black;
  text-align: center;
  border: double 5px white;
  color: white;
}

.book_info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.input::placeholder {
  color: white;
}

.input_name {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  margin: 25px 0;
  padding: 7px;
  width: fit-content;
}

.input_author {
  display: flex;
  align-self: center;
  padding: 7px;
  height: fit-content;
}

.input_description {
  padding: 5px 0;
}

.input_rating {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* review section */

.reviews_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin: 50px 150px;
  padding: 0;
}

.review_container {
  perspective: 1000px;
}

.review_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 550px;
  font-family: "YesevaOne", sans-serif;
  background-color: black;
  padding: 16px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.review_box:hover {
  border: solid 2px white;
}

.review_box.is-flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.back {
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
}

.review_image {
  object-fit: contain;
  height: 250px;
  width: 250px;
}

.review_title {
  height: 65px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  align-content: center;
  margin: 25px;
  font-size: 20px;
  color: white;
}

.review_author {
  display: flex;
  align-items: center;
  height: 55px;
  margin: 0;
  font-size: 15px;
  color: white;
}

.review_description {
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  align-content: center;
  padding: 25px 25px;
  margin: 0;
  overflow-wrap: break-word;
  color: white;
  font-size: 16px;
}

/* review card flip */

.flip_button_front,
.flip_button_back {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  cursor: pointer;
  background: transparent;
  border: none;
}

.flip_button_front {
  margin-right: 25px;
}

.flip_button_back {
  margin-top: 25px;
  margin-right: 25px;
}

/********************************/
/*         star rating          */
/********************************/

.rating {
  display: flex;
  gap: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.star {
  font-size: 50px;
  color: #616161;
  cursor: pointer;
}

.star:hover,
.star.hover {
  color: white;
}

.star.selected {
  color: white;
}

/* media queries */

@media (max-width: 1440px) and (min-width: 675px) {
  .reviews_list {
    margin: 5vh auto;
    max-width: 1200px;
  }

  .review_box {
    margin: 0 auto;
  }
}

@media (max-width: 675px) and (min-width: 375px) {
  .review_box {
    margin: 0 auto;
  }

  .reviews_list {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    margin: 5vh auto;
  }

  .title {
    font-size: 64px;
  }

  .modal-form {
    width: 325px;
  }

  .submit_button {
    margin-top: 15px;
  }

  .review_box {
    width: 350px;
    height: 550px;
  }

  .input {
    font-size: 12px;
  }

  .input_author {
    width: 100px;
  }
}

@media (max-width: 430px) {
  .modal-form {
    width: calc(100% - 75px);
    padding: 15px;
  }

  .close_button {
    top: -30px;
    right: -25px;
    font-size: 18px;
  }

  .book_info {
    gap: 0;
  }
}
